.App {
  text-align: center;
  background-color: #e7b76f
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vmin;
  float: left;
  
}

.App-header {
  background-color: #e7b76f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#canvasContainer{
  width:40%;
  margin-left: 30%;
}

#submitButton{
  padding: .8em 2em;
  font-size: 20pt;
  margin-bottom: 8em;
}

#learnMore{
  width:70%;
}