.App {
  background: #E8CBC0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #636FA4, #E8CBC0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #636FA4, #E8CBC0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vmin;
  margin-bottom: 100px;
}

.App-header {
  margin:10%;
  padding-top:3em;
  padding-bottom: 3em;
  background: #56ab2f;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #a8e063, #56ab2f);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #a8e063, #56ab2f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  border-radius: 50px;
  -webkit-box-shadow: 3px 6px 13px 0px rgba(0,0,0,0.55);
  -moz-box-shadow: 3px 6px 13px 0px rgba(0,0,0,0.55);
  box-shadow: 3px 6px 13px 0px rgba(0,0,0,0.55);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.centered {
  text-align: center;
  align-items: center;
  justify-content: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#Interactive-Canvas{
  width:420px;
  margin:auto;
} 

#About-Us{
  margin-bottom: 8em;
}

.lc-picker{
  display:none;
}

.lc-drawing .toolbar-at-bottom{
  display:none;
}

.canvasButtons{
  padding: .5em 1em;
  font-size: 20pt;
  margin:auto;
  margin-bottom: 1em;
  border-radius: 5px;
  width: 50%;
}

#learnMore{
  width:70%;
}

#Project-Summary{
  width: 70%;
  font-size:22pt;
}

.lc-drawing{
  left: 0;
}

#test{
  text-align: center;
  margin-bottom: 4em;
}